In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
updated_FRL = pd.read_excel("/share/data/school_choice/dssg/riyab_FRL_data.xlsx", None, engine='openpyxl')

In [5]:
grouped_Geoid = updated_FRL["Grouped GeoID External"]
grouped_Geoid.tail(10)

,Geoid10,Geoid Group,4YR AVG Student Count,4YR AVG FRL Count,4YR AVG Eth Flag Count,4YR AVG Combo Flag Count
4584,60750264011010,60750264011010,137.25,100.50,72.50,52.75
4585,60750614001000,60750614001000,141.75,118.50,110.75,95.00
4586,60750231031006,60750231031006,154.50,120.25,109.50,85.25
4587,60750231021014,60750231021014,157.25,109.25,119.50,81.75
4588,60750231022004,60750231022004,166.25,126.00,140.50,107.00
4589,60750610001004,60750610001004,168.75,91.75,75.25,48.00
4590,60750234002014,60750234002014,176.75,153.25,147.00,127.75
4591,60750231032017,60750231032017,187.25,136.25,149.00,107.00
4592,60750605022000,60750605022000,197.00,174.50,140.50,121.25
4593,60750125011002,60750125011002,200.75,153.00,90.00,68.00

In [6]:
grouped_Geoid_filtered = grouped_Geoid[grouped_Geoid["Geoid Group"].astype('str').str.len() > 3]
grouped_Geoid_filtered

,Geoid10,Geoid Group,4YR AVG Student Count,4YR AVG FRL Count,4YR AVG Eth Flag Count,4YR AVG Combo Flag Count
1636,60750161002003,60750161002003,5.00,5.00,1.00,1.00
1637,60750209004007,60750209004007,5.00,4.50,4.75,4.25
1638,60750177002016,60750177002016,5.00,4.50,2.25,2.25
1639,60750104001004,60750104001004,5.00,3.75,0.25,0.00
1640,60750228011002,60750228011002,5.00,3.50,2.00,1.00
...,...,...,...,...,...,...
4589,60750610001004,60750610001004,168.75,91.75,75.25,48.00
4590,60750234002014,60750234002014,176.75,153.25,147.00,127.75
4591,60750231032017,60750231032017,187.25,136.25,149.00,107.00
4592,60750605022000,60750605022000,197.00,174.50,140.50,121.25
4593,60750125011002,60750125011002,200.75,153.00,90.00,68.00

In [7]:
df = pd.read_csv("~/displacement-typologies/data/outputs/typologies/SanFrancisco_typology_output.csv", sep=",")
df["GEOID"]

0       6055200202
1       6055200400
2       6055200900
3       6067006101
4       6067006102
           ...
2104    6055201401
2105    6055201402
2106    6055201403
2107    6055201601
2108    6055201602
Name: GEOID, Length: 2109, dtype: int64

In [8]:
grouped_Geoid_filtered["Geoid Group"]

1636    60750161002003
1637    60750209004007
1638    60750177002016
1639    60750104001004
1640    60750228011002
             ...
4589    60750610001004
4590    60750234002014
4591    60750231032017
4592    60750605022000
4593    60750125011002
Name: Geoid Group, Length: 2958, dtype: int64

In [9]:
grouped_Geoid_filtered["New Geoid"] = grouped_Geoid_filtered["Geoid Group"].astype(str).str[:10].astype(int)

<ipython-input-9-327fa331601b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grouped_Geoid_filtered["New Geoid"] = grouped_Geoid_filtered["Geoid Group"].astype(str).str[:10].astype(int)

In [10]:
grouped_Geoid_filtered

,Geoid10,Geoid Group,4YR AVG Student Count,4YR AVG FRL Count,4YR AVG Eth Flag Count,4YR AVG Combo Flag Count,New Geoid
1636,60750161002003,60750161002003,5.00,5.00,1.00,1.00,6075016100
1637,60750209004007,60750209004007,5.00,4.50,4.75,4.25,6075020900
1638,60750177002016,60750177002016,5.00,4.50,2.25,2.25,6075017700
1639,60750104001004,60750104001004,5.00,3.75,0.25,0.00,6075010400
1640,60750228011002,60750228011002,5.00,3.50,2.00,1.00,6075022801
...,...,...,...,...,...,...,...
4589,60750610001004,60750610001004,168.75,91.75,75.25,48.00,6075061000
4590,60750234002014,60750234002014,176.75,153.25,147.00,127.75,6075023400
4591,60750231032017,60750231032017,187.25,136.25,149.00,107.00,6075023103
4592,60750605022000,60750605022000,197.00,174.50,140.50,121.25,6075060502
4593,60750125011002,60750125011002,200.75,153.00,90.00,68.00,6075012501

In [11]:
grouped_Geoid_filtered.dtypes

Geoid10                       int64
Geoid Group                   int64
4YR AVG Student Count       float64
4YR AVG FRL Count           float64
4YR AVG Eth Flag Count      float64
4YR AVG Combo Flag Count    float64
New Geoid                     int64
dtype: object

In [12]:
grouped_Geoid_filtered = grouped_Geoid_filtered.merge(df, left_on = "New Geoid", right_on = "GEOID")

In [13]:
grouped_Geoid_new = grouped_Geoid_filtered[["GEOID", "4YR AVG Student Count", "4YR AVG FRL Count", "4YR AVG Eth Flag Count", "4YR AVG Combo Flag Count",
                                            "OD", "ARG", "EOG", "AdvG", "SMMI", "ARE", "BE", "SAE"]]
grouped_Geoid_new

,GEOID,4YR AVG Student Count,4YR AVG FRL Count,4YR AVG Eth Flag Count,4YR AVG Combo Flag Count,OD,ARG,EOG,AdvG,SMMI,ARE,BE,SAE
0,6075016100,5.00,5.00,1.00,1.00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6075016100,5.25,4.25,4.50,3.75,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6075016100,7.75,6.25,4.50,3.50,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6075016100,8.25,7.50,6.75,6.00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6075016100,9.75,2.25,2.00,1.00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,6075012401,66.50,54.25,22.50,18.25,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2954,6075012401,68.50,58.25,37.75,32.50,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2955,6075012401,76.75,62.75,32.50,27.25,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2956,6075012401,98.75,83.25,68.50,57.50,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2957,6075012401,130.25,99.00,99.50,75.25,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
grouped_Geoid_new = grouped_Geoid_new.drop_duplicates()

In [15]:
grouped_Geoid_new.head(20)

,GEOID,4YR AVG Student Count,4YR AVG FRL Count,4YR AVG Eth Flag Count,4YR AVG Combo Flag Count,OD,ARG,EOG,AdvG,SMMI,ARE,BE,SAE
0,6075016100,5.00,5.00,1.00,1.00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6075016100,5.25,4.25,4.50,3.75,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6075016100,7.75,6.25,4.50,3.50,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6075016100,8.25,7.50,6.75,6.00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6075016100,9.75,2.25,2.00,1.00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,6075016100,11.75,5.50,5.75,3.25,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6075016100,15.75,10.25,11.00,8.25,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,6075016100,18.75,9.75,6.25,5.25,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,6075016100,19.50,14.75,9.00,7.00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,6075016100,22.00,13.75,14.25,7.00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,6075016100,23.50,13.00,15.00,8.00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,6075016100,23.75,17.25,16.00,12.25,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,6075016100,24.00,20.75,11.25,10.25,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,6075016100,29.75,22.50,20.25,14.75,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,6075016100,31.25,25.50,25.00,20.25,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,6075016100,40.00,33.25,26.75,21.25,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,6075016100,41.25,26.75,18.00,12.75,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,6075016100,47.00,34.75,22.75,15.75,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,6075016100,49.25,35.50,35.25,27.75,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,6075016100,58.25,50.25,43.25,35.75,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
grouped_Geoid_new = grouped_Geoid_new.dropna(axis=0, how='all')
grouped_Geoid_new = grouped_Geoid_new.dropna(axis=1, how='all')

In [17]:
grouped_Geoid_new = grouped_Geoid_new.groupby("GEOID").mean()
grouped_Geoid_new

,4YR AVG Student Count,4YR AVG FRL Count,4YR AVG Eth Flag Count,4YR AVG Combo Flag Count,OD,ARG,EOG,AdvG,SMMI,ARE,BE,SAE
GEOID,,,,,,,,,,,,
6075010100,44.312500,36.125000,16.562500,13.562500,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6075010300,11.687500,3.812500,0.812500,0.375000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6075010400,9.442308,3.903846,1.057692,0.173077,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6075010500,29.666667,21.250000,2.750000,2.333333,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6075010600,11.015625,7.906250,1.343750,0.937500,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6075061500,10.265625,5.593750,2.625000,1.906250,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6075980200,6.500000,0.000000,1.500000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6075980501,29.000000,19.750000,16.750000,13.125000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6075980600,14.816667,10.733333,10.833333,7.750000,0,0.0,NaN,0.0,0.0,0.0,NaN,0.0
6075980900,6.000000,3.875000,4.875000,3.750000,0,0.0,0.0,0.0,0.0,0.0,NaN,0.0

In [23]:
grouped_Geoid_new

,4YR AVG Student Count,4YR AVG FRL Count,4YR AVG Eth Flag Count,4YR AVG Combo Flag Count,OD,ARG,EOG,AdvG,SMMI,ARE,BE,SAE
GEOID,,,,,,,,,,,,
6075010100,44.312500,36.125000,16.562500,13.562500,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6075010300,11.687500,3.812500,0.812500,0.375000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6075010400,9.442308,3.903846,1.057692,0.173077,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6075010500,29.666667,21.250000,2.750000,2.333333,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6075010600,11.015625,7.906250,1.343750,0.937500,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
6075061500,10.265625,5.593750,2.625000,1.906250,0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
6075980200,6.500000,0.000000,1.500000,0.000000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6075980501,29.000000,19.750000,16.750000,13.125000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6075980600,14.816667,10.733333,10.833333,7.750000,0,0.0,NaN,0.0,0.0,0.0,NaN,0.0
6075980900,6.000000,3.875000,4.875000,3.750000,0,0.0,0.0,0.0,0.0,0.0,NaN,0.0