In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.append('../')

from src.d01_data.etl import ETL

etl = ETL()

In [2]:
file_name = "Census Blocks w SFHA Flag.xlsx"

In [43]:
df_dict = etl.read_data(file_name)
df_dict.keys()

dict_keys(['Field Descriptions', 'Block data'])

In [41]:
df_dict['Field Descriptions']

,Field Name,Field Description,Data Source,Comments/Caveats
0,ID,ID,assigned by GIS software,NaN
1,Area,AREA,area in square miles,NaN
2,Block,Block,2010 Census block ID,NaN
3,Block Type,Block Type,land block: zero pop or populated,NaN
4,BlockGroup,BlockGroup,2010 Census block group ID,NaN
5,Tract,Tract,2010 Census Tract ID,NaN
6,County,County,2010 Census County ID,NaN
7,Place,Place,2010 Census place (city) ID,NaN
8,UnifSchool,UnifSchool,2010 Census Unified School District ID,NaN
9,SF Analysis Neighborhood,SF Analysis Neighborhood,LGDR flagged blocks,NaN
10,Current ESAA,Current ESAA,LGDR flagged blocks,NaN
11,2010 total population count,Census 2010 pop count; Total,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
12,ACS 2013-17 est median HH income,ACS 2013-17 est median household income $ last...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
13,ACS 2013-17 est% HH below poverty lvl,ACS 2013-17 est % of households below poverty ...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
14,SFHA_Hsng,Does block contain SFHA units? (yes/no),LGDR flagged blocks,NaN
15,SA_Hsng,Does block contain SA (stand alone/fully subsi...,LGDR flagged blocks,NaN
16,SFHA_ex_Sr,Does block contain non-senior SFHA units? (yes...,LGDR flagged blocks,NaN

In [45]:
df_block = df_dict['Block data'].copy()
df_block.set_index('Block', inplace=True)

df_block.columns

Index(['ID', 'AREA', 'DATA', 'Block Type', 'BlockGroup', 'Tract', 'County',
       'Place', 'UnifSchool', 'SF Analysis Neighborhood', 'Current ESAA',
       '2010 total population count', 'ACS 2013-17 est median HH income',
       'ACS 2013-17 est% HH below poverty lvl', 'SFHA_Hsng', 'SA_Hsng',
       'SFHA_ex_Sr'],
      dtype='object')

In [53]:
block = 60750307003000
df_block.loc[block]

ID                                                    97900
AREA                                               0.005548
DATA                                                 101306
Block Type                                 land - populated
BlockGroup                                      60750307003
Tract                                            6075030700
County                                                 6075
Place                                                667000
UnifSchool                                           634410
SF Analysis Neighborhood                 West of Twin Peaks
Current ESAA                                       Miraloma
2010 total population count                             106
ACS 2013-17 est median HH income                      66275
ACS 2013-17 est% HH below poverty lvl                 0.026
SFHA_Hsng                                                no
SA_Hsng                                                  no
SFHA_ex_Sr                                               no
Name: 60750307003000, dtype: object

In [32]:
file_name = "Data/Cleaned/student_1920.csv"

df_student = etl.read_data(file_name)

In [55]:
features = ['reducedlunch_prob', 'HOCidx1',
       'HOCidx2', 'HOCidx3', 'AALPI Score', 'Academic Score',
       "N'hood SES Score", 'FRL Score', 'sibling', 'currentlpsibling',
       'currentlp', 'msf', 'aaprek', 'aa']
block_mask = df_student['census_block'] == block
df_student.loc[block_mask, features]

,reducedlunch_prob,HOCidx1,HOCidx2,HOCidx3,AALPI Score,Academic Score,N'hood SES Score,FRL Score,sibling,currentlpsibling,currentlp,msf,aaprek,aa
0,0.025,0.189939,0.190757,0.156543,0.204972,0.101064,0.387407,0.066313,NaN,NaN,NaN,NaN,NaN,NaN
1596,0.025,0.189939,0.190757,0.156543,0.204972,0.101064,0.387407,0.066313,NaN,NaN,NaN,NaN,NaN,NaN
4709,0.025,0.189939,0.190757,0.156543,0.204972,0.101064,0.387407,0.066313,[405],NaN,NaN,NaN,NaN,NaN
10445,0.025,0.189939,0.190757,0.156543,0.204972,0.101064,0.387407,0.066313,NaN,NaN,NaN,NaN,NaN,NaN
13386,0.025,0.189939,0.190757,0.156543,0.204972,0.101064,0.387407,0.066313,[722],NaN,NaN,NaN,NaN,[722]

In [50]:
df_student.columns

Index(['Unnamed: 0', 'studentno', 'r1_ranked_idschool', 'r1_listed_ranks',
       'r1_programs', 'grade', 'r1_randomnumber', 'randomnumber',
       'requestprogramdesignation', 'latitude', 'longitude',
       'r2_ranked_idschool', 'r2_listed_ranks', 'r2_programs',
       'r2_randomnumber', 'r1_idschool', 'r1_programcode', 'r1_rank',
       'r1_isdesignation', 'r1_distance', 'ctip1', 'idschoolattendance',
       'r2_idschool', 'r2_programcode', 'r2_rank', 'r2_isdesignation',
       'r2_distance', 'zipcode', 'sex', 'speced', 'ethnicity_desc',
       'disability', 'homelang_desc', 'englprof_desc', 'enrolled_idschool',
       'resolved_ethnicity', 'math_scalescore', 'ela_scalescore',
       'final_school', 'num_ranked', 'census_block', 'freelunch_prob',
       'reducedlunch_prob', 'census_blockgroup', 'census_tract', 'HOCidx1',
       'HOCidx2', 'HOCidx3', 'AALPI Score', 'Academic Score',
       'N'hood SES Score', 'FRL Score', 'sibling', 'currentlpsibling',
       'currentlp', 'msf', 'aaprek', 'aa'],
      dtype='object')

In [37]:
file_name_geo = "Data/Student Location Data/out_SFUSD20191220_1_1_cbeds2018.dta"
file_name_dem = "Data/Student and family data/out_SFUSD20191220_1_1_demographics2014plus.dta"


df_geo = etl.read_data(file_name_geo)
print(len(df_geo))
df_dem = etl.read_data(file_name_dem)
print(len(df_dem))

55760
666660

In [40]:
df_geo.iloc[0]

studentno            S010045773
longitude              -122.402
latitude                37.7233
schno                       439
schname               Balboa HS
schtype                      HS
schgrp                      8HS
k_5wtk
charter
cbedschnum                  439
cbschtype                    HS
n_total                       1
acty                          A
grade                        11
streetno                   3054
streetpfx
street                San Bruno
streetsfx                   Ave
aptno
zipcode                   94134
cbeds_city        San Francisco
gc_addr2      3054 SAN BRUNO AV
gc_stnum                   3054
gc_stname             SAN BRUNO
gc_sttype                    AV
gc_aptno
gc_city           SAN FRANCISCO
gc_zip                    94134
Name: 0, dtype: object

In [39]:
studentno = 'S010045773'
df_dem.loc[df_dem['studentno'] == studentno].T

,88031,88032,88033,88034,88035,88036,88037,88038,88039,88040,88041
studentno,S010045773,S010045773,S010045773,S010045773,S010045773,S010045773,S010045773,S010045773,S010045773,S010045773,S010045773
schno,JAMES LICK MIDDLE,JAMES LICK MIDDLE,JAMES LICK MIDDLE,JAMES LICK MIDDLE,JAMES LICK MIDDLE,GALILEO HIGH,BALBOA HIGH,BALBOA HIGH,BALBOA HIGH,BALBOA HIGH,BALBOA HIGH
schoolyear,2013-2014,2014-2015,2014-2015,2015-2016,2015-2016,2016-2017,2016-2017,2017-2018,2017-2018,2018-2019,2018-2019
year,SY 2013-2014,SY 2014-2015,SY 2014-2015,SY 2015-2016,SY 2015-2016,SY 2016-2017,SY 2016-2017,SY 2017-2018,SY 2017-2018,SY 2018-2019,SY 2018-2019
semester,Spring,Fall,Spring,Fall,Spring,Fall,Spring,Fall,Spring,Fall,Spring
zipcode,94134,94134,94134,94134,94134,94134,94134,94134,94134,94134,94134
grade,06,07,07,08,08,09,09,10,10,11,11
sex,F,F,F,F,F,F,F,F,F,F,F
racex,.,12,12,12,12,12,12,12,12,12,12
ethnic,SS,SS,SS,SS,SS,SS,SS,SS,SS,SS,SS
ethnicity_desc,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname
stethnic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic
sped,Y,Y,Y,Y,Y,,,,,,
speced,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
disability,Speech or Language Impairment (SLI),Speech or Language Impairment (SLI),Speech or Language Impairment (SLI),Speech or Language Impairment (SLI),Speech or Language Impairment (SLI),NaN,NaN,NaN,NaN,NaN,NaN
homelang,SP,SP,SP,SP,SP,SP,SP,SP,SP,SP,SP
homelang_desc,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish
domlang,SP,SP,SP,SP,SP,SP,SP,SP,SP,SP,SP
domlang_desc,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish
englprof,R,R,R,R,R,R,R,R,R,R,R
englprof_desc,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated
lepdate,11/1/2007,11/1/2007,11/1/2007,11/1/2007,11/1/2007,11/1/2007,11/1/2007,11/1/2007,11/1/2007,2007-11-01T00:00:00Z,2007-11-01T00:00:00Z
lepdate_fmt,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,NaT,NaT
recdate,5/2/2013,5/2/2013,5/2/2013,5/2/2013,5/2/2013,5/2/2013,5/2/2013,5/2/2013,5/2/2013,2013-05-02T00:00:00Z,2013-05-02T00:00:00Z
recdate_fmt,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,NaT,NaT
entrydate,8/19/2013,8/18/2014,8/18/2014,8/17/2015,8/17/2015,8/15/2016,1/3/2017,8/21/2017,8/21/2017,2018-08-20T00:00:00Z,2018-08-20T00:00:00Z
entrydate_fmt,2013-08-19 00:00:00,2014-08-18 00:00:00,2014-08-18 00:00:00,2015-08-17 00:00:00,2015-08-17 00:00:00,2016-08-15 00:00:00,2017-01-03 00:00:00,2017-08-21 00:00:00,2017-08-21 00:00:00,NaT,NaT
leavedate,,,,,,,,,,,
leavedate_fmt,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
stleavecd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mothereducationlevel,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate
fathereducationlevel,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate