In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [99]:
from os import walk

filenames = next(walk("/share/data/school_choice/Census 2010_ Blocks for San Francisco"), (None, None, []))  # [] if no file

In [97]:
filenames

('/share/data/school_choice/',
 ['dssg',
  'drive-download-20200216T210200Z-001',
  'Census 2010_ Blocks for San Francisco',
  'Data'],
 ['out_SFUSD20191220_1_1_demographics2014plus_resolved_ethnic.csv',
  'Census Blocks w SFHA Flag.xlsx',
  'FRLxEthncity SY16-SY19.xlsx',
  'out_SFUSD20191220_1_1_sfusd_applicant_demographics.csv'])

In [6]:
block_df_dict = pd.read_excel("/share/data/school_choice/Data/SF 2010 blks 022119 with field descriptions (1).xlsx", None, engine='openpyxl')

In [7]:
block_df_dict.keys()

dict_keys(['field descriptions', 'block database'])

In [8]:
field_descriptions_df = block_df_dict["field descriptions"]
block_database_df = block_df_dict["block database"]

## Field Descriptions

In [12]:
field_descriptions_df = field_descriptions_df.dropna(axis=0, how='all')
field_descriptions_df = field_descriptions_df.dropna(axis=1, how='all')

In [13]:
field_descriptions_df

,Field Name,Field Description,Data Source,Commenta/Caveats
0,ID,ID,assigned by GIS software,NaN
1,Area,AREA,area in square miles,NaN
2,Block,Block,2010 Census block ID,NaN
3,Block Type,Block Type,land block: zero pop or populated,NaN
4,BlockGroup,BlockGroup,2010 Census block group ID,NaN
...,...,...,...,...
870,2017 9-12 Samoan,Number of Fall 2017 Samoan 9-12 residents,LGDR computed using student address database,NaN
871,2017 K-5 White,Number of Fall 2017 White K-5 residents,LGDR computed using student address database,NaN
872,2017 6-8 White,Number of Fall 2017 White 6-8 residents,LGDR computed using student address database,NaN
873,2017 9-12 White,Number of Fall 2017 White 9-12 residents,LGDR computed using student address database,NaN
874,Free Reduced Lunch,"FRL data - aggregated students, by individual ...",SFUSD staff to add data,NaN

In [83]:
field_descriptions_df["Field Name"].values

array(['ID', 'Area', 'Block', 'Block Type', 'BlockGroup', 'Tract',
       'County', 'Place', 'UnifSchool', 'ZIP5',
       'SF Analysis Neighborhood', 'Current ESAA', 'Scenario 1',
       'Scenario 2', 'CTIP_2013 assignment',
       'Possible change in CTIP1 status Model 2',
       '2010 total population count', '2010 Hispanic',
       '2010 non-Hisp African American',
       '2010 non-Hisp Amer Indian Alaska Native', '2010 non-Hisp Asian',
       '2010 non-Hisp Pacific Islander', '2010 non-Hisp White',
       '2010 non-Hisp Other', '2010 non-Hispanic Mixed Race',
       '2010 total pop aged 18+', '2010 pop 18+ Hispanic',
       '2010 pop 18+ non-Hisp African American',
       '2010 pop 18+ non-Hisp Amer Ind AK native',
       '2010 pop 18+ non-Hisp Asian',
       '2010 pop 18+ non-Hisp Pacific Islander',
       '2010 pop 18+ non-Hisp White', '2010 pop 18+ non-Hisp Other',
       '2010 pop 18+ non-Hisp Mixed Race',
       '2010 pop less than 18 years old', '2010 pop <18 Hispanic',
       '2010 pop <18 non-Hisp African American',
       '2010 pop <18 non-Hisp Amer Ind AK native',
       '2010 pop <18 non-Hisp Asian',
       '2010 pop <18 non-Hisp Pacific Islander',
       '2010 pop <18 non-Hisp White', '2010 pop <18 non-Hisp Other',
       '2010 pop <18 non-Hisp Mixed Race',
       'ACS 2013-17 est median HH income',
       'ACS 2013-17 est median family income',
       'ACS 2013-17 % aged 25+ <HS diploma',
       'ACS 2013-17 % aged 25+ HS diploma',
       'ACS 2013-17 % aged 25+ some coll no BA',
       'ACS 2013-17 % aged 25+ with Bachelors',
       'ACS 2013-17 % aged 25+ grad or prof degr',
       'ACS 2013-17 est% HH below poverty lvl',
       'ACS 2013-17 est% HH with children <17',
       'ACS 2013-17 est% aged 5-14 public sch',
       'ACS 2013-17 est% aged 5-14 pvt sch',
       'ACS 2013-17 est% aged 5-14 not in sch',
       'ACS 2013-17 est% single parent household',
       'ACS 2013-17 est% of pop foreign born',
       'ACS 2013-17 est% of foreign born not czn',
       'ACS 2013-17 est% hsng units owner occ',
       'ACS 2013-17 est% aged5+ Engl "not well"', 'SFHA_Hsng', 'SA_Hsng',
       'SFHA_ex_Sr', 'Fut Hsg Development', 'Fut Hsg total num of units',
       'Fut Hsg num of affordable units',
       'Fut Hsg num of expected students', 'Fut Hsg Affordable Yield',
       'Fut Hsg Total Yield', 'all TK-5 2017 stu', 'reg TK-5 2017 stu',
       'cw TK-5 2017 stu', 'charter TK-5 2017 stu',
       'reg&cw TK-5 2017 stu', 'number of K8 residents fall 2017',
       'num of SBAC L1 scores 4-9 2015-18',
       'num of SBAC L2 scores 4-9 2015-18',
       'num of SBAC L3 scores 4-9 2015-18',
       'num of SBAC L4 scores 4-9 2015-18',
       'ttl num 4-9 test takers 2015-18',
       'CST ELA test takers gr4-9 2011-2014',
       'average CST ELA score 2011-14',
       'CST ELA test takers gr4-9 2006-10', 'avg CST ELA score 2006-10',
       'CSTELA test takers 2006-14', 'avg CSTELA score 2006-14',
       'number of K-8 students 2006-2010', 'K8stu1114', 'K8stu1517',
       'AALPI all TK5 stu 2017', 'non-AALPI all TK5 stu 2017',
       'DS or ML all TK5 stu 2017', 'All Others all TK5 stu 2017',
       'AALPI reg TK5 stu 2017', 'non-AALPI reg TK5 stu 2017',
       'DS or ML reg TK5 stu 2017', 'All Others reg TK5 stu 2017',
       'AALPI students 2006-10 K-8', 'AALPI_1114_K8', 'AALPI_1517_K8',
       'African American students 2006-2010 K-8', 'AfAmer1114',
       'AfAmer1517', 'NH White students 2006-2010 K-8', 'NH_Wht1114',
       'NH_Wht1517', 'NH Asian students 2006-2010 K-8', 'NH_Asn1114',
       'NH_Asn1517', 'F2013_A_TK', 'F2013_A_K', 'F2013_A_1', 'F2013_A_2',
       'F2013_A_3', 'F2013_A_4', 'F2013_A_5', 'F2013_A_6', 'F2013_A_7',
       'F2013_A_8', 'F2013_A_9', 'F2013_A_10', 'F2013_A_11', 'F2013_A_12',
       'F2013_B_TK', 'F2013_B_K', 'F2013_B_1', 'F2013_B_2', 'F2013_B_3',
       'F2013_B_4', 'F2013_B_5', 'F2013_B_6', 'F2013_B_7', 'F2013_B_8',
       'F2013_B_9', 'F2013_B_10', 'F2013_B_11', 'F2013_B_12',
       'F2013_DS_T', 'F2013_DS_K', 'F2013_DS_1', 'F2013_DS_2',
       'F2013_DS_3', 'F2013_DS_4', 'F2013_DS_5', 'F2013_DS_6',
       'F2013_DS_7', 'F2013_DS_8', 'F2013_DS_9', 'F2013_DS10',
       'F2013_DS11', 'F2013_DS12', 'F2013_F_TK', 'F2013_F_K', 'F2013_F_1',
       'F2013_F_2', 'F2013_F_3', 'F2013_F_4', 'F2013_F_5', 'F2013_F_6',
       'F2013_F_7', 'F2013_F_8', 'F2013_F_9', 'F2013_F_10', 'F2013_F_11',
       'F2013_F_12', 'F2013_H_TK', 'F2013_H_K', 'F2013_H_1', 'F2013_H_2',
       'F2013_H_3', 'F2013_H_4', 'F2013_H_5', 'F2013_H_6', 'F2013_H_7',
       'F2013_H_8', 'F2013_H_9', 'F2013_H_10', 'F2013_H_11', 'F2013_H_12',
       'F2013_NA_T', 'F2013_NA_K', 'F2013_NA_1', 'F2013_NA_2',
       'F2013_NA_3', 'F2013_NA_4', 'F2013_NA_5', 'F2013_NA_6',
       'F2013_NA_7', 'F2013_NA_8', 'F2013_NA_9', 'F2013_NA10',
       'F2013_NA11', 'F2013_NA12', 'F2013_O_TK', 'F2013_O_K', 'F2013_O_1',
       'F2013_O_2', 'F2013_O_3', 'F2013_O_4', 'F2013_O_5', 'F2013_O_6',
       'F2013_O_7', 'F2013_O_8', 'F2013_O_9', 'F2013_O_10', 'F2013_O_11',
       'F2013_O_12', 'F2013_SA_T', 'F2013_SA_K', 'F2013_SA_1',
       'F2013_SA_2', 'F2013_SA_3', 'F2013_SA_4', 'F2013_SA_5',
       'F2013_SA_6', 'F2013_SA_7', 'F2013_SA_8', 'F2013_SA_9',
       'F2013_SA10', 'F2013_SA11', 'F2013_SA12', 'F2013_W_TK',
       'F2013_W_K', 'F2013_W_1', 'F2013_W_2', 'F2013_W_3', 'F2013_W_4',
       'F2013_W_5', 'F2013_W_6', 'F2013_W_7', 'F2013_W_8', 'F2013_W_9',
       'F2013_W_10', 'F2013_W_11', 'F2013_W_12', 'F2014_A_TK',
       'F2014_A_K', 'F2014_A_1', 'F2014_A_2', 'F2014_A_3', 'F2014_A_4',
       'F2014_A_5', 'F2014_A_6', 'F2014_A_7', 'F2014_A_8', 'F2014_A_9',
       'F2014_A_10', 'F2014_A_11', 'F2014_A_12', 'F2014_B_TK',
       'F2014_B_K', 'F2014_B_1', 'F2014_B_2', 'F2014_B_3', 'F2014_B_4',
       'F2014_B_5', 'F2014_B_6', 'F2014_B_7', 'F2014_B_8', 'F2014_B_9',
       'F2014_B_10', 'F2014_B_11', 'F2014_B_12', 'F2014_DS_T',
       'F2014_DS_K', 'F2014_DS_1', 'F2014_DS_2', 'F2014_DS_3',
       'F2014_DS_4', 'F2014_DS_5', 'F2014_DS_6', 'F2014_DS_7',
       'F2014_DS_8', 'F2014_DS_9', 'F2014_DS10', 'F2014_DS11',
       'F2014_DS12', 'F2014_F_TK', 'F2014_F_K', 'F2014_F_1', 'F2014_F_2',
       'F2014_F_3', 'F2014_F_4', 'F2014_F_5', 'F2014_F_6', 'F2014_F_7',
       'F2014_F_8', 'F2014_F_9', 'F2014_F_10', 'F2014_F_11', 'F2014_F_12',
       'F2014_H_TK', 'F2014_H_K', 'F2014_H_1', 'F2014_H_2', 'F2014_H_3',
       'F2014_H_4', 'F2014_H_5', 'F2014_H_6', 'F2014_H_7', 'F2014_H_8',
       'F2014_H_9', 'F2014_H_10', 'F2014_H_11', 'F2014_H_12',
       'F2014_NA_T', 'F2014_NA_K', 'F2014_NA_1', 'F2014_NA_2',
       'F2014_NA_3', 'F2014_NA_4', 'F2014_NA_5', 'F2014_NA_6',
       'F2014_NA_7', 'F2014_NA_8', 'F2014_NA_9', 'F2014_NA10',
       'F2014_NA11', 'F2014_NA12', 'F2014_O_TK', 'F2014_O_K', 'F2014_O_1',
       'F2014_O_2', 'F2014_O_3', 'F2014_O_4', 'F2014_O_5', 'F2014_O_6',
       'F2014_O_7', 'F2014_O_8', 'F2014_O_9', 'F2014_O_10', 'F2014_O_11',
       'F2014_O_12', 'F2014_SA_T', 'F2014_SA_K', 'F2014_SA_1',
       'F2014_SA_2', 'F2014_SA_3', 'F2014_SA_4', 'F2014_SA_5',
       'F2014_SA_6', 'F2014_SA_7', 'F2014_SA_8', 'F2014_SA_9',
       'F2014_SA10', 'F2014_SA11', 'F2014_SA12', 'F2014_W_TK',
       'F2014_W_K', 'F2014_W_1', 'F2014_W_2', 'F2014_W_3', 'F2014_W_4',
       'F2014_W_5', 'F2014_W_6', 'F2014_W_7', 'F2014_W_8', 'F2014_W_9',
       'F2014_W_10', 'F2014_W_11', 'F2014_W_12', 'F2015_A_TK',
       'F2015_A_K', 'F2015_A_1', 'F2015_A_2', 'F2015_A_3', 'F2015_A_4',
       'F2015_A_5', 'F2015_A_6', 'F2015_A_7', 'F2015_A_8', 'F2015_A_9',
       'F2015_A_10', 'F2015_A_11', 'F2015_A_12', 'F2015_B_TK',
       'F2015_B_K', 'F2015_B_1', 'F2015_B_2', 'F2015_B_3', 'F2015_B_4',
       'F2015_B_5', 'F2015_B_6', 'F2015_B_7', 'F2015_B_8', 'F2015_B_9',
       'F2015_B_10', 'F2015_B_11', 'F2015_B_12', 'F2015_DS_T',
       'F2015_DS_K', 'F2015_DS_1', 'F2015_DS_2', 'F2015_DS_3',
       'F2015_DS_4', 'F2015_DS_5', 'F2015_DS_6', 'F2015_DS_7',
       'F2015_DS_8', 'F2015_DS_9', 'F2015_DS10', 'F2015_DS11',
       'F2015_DS12', 'F2015_F_TK', 'F2015_F_K', 'F2015_F_1', 'F2015_F_2',
       'F2015_F_3', 'F2015_F_4', 'F2015_F_5', 'F2015_F_6', 'F2015_F_7',
       'F2015_F_8', 'F2015_F_9', 'F2015_F_10', 'F2015_F_11', 'F2015_F_12',
       'F2015_H_TK', 'F2015_H_K', 'F2015_H_1', 'F2015_H_2', 'F2015_H_3',
       'F2015_H_4', 'F2015_H_5', 'F2015_H_6', 'F2015_H_7', 'F2015_H_8',
       'F2015_H_9', 'F2015_H_10', 'F2015_H_11', 'F2015_H_12',
       'F2015_MR_T', 'F2015_MR_K', 'F2015_MR_1', 'F2015_MR_2',
       'F2015_MR_3', 'F2015_MR_4', 'F2015_MR_5', 'F2015_MR_6',
       'F2015_MR_7', 'F2015_MR_8', 'F2015_MR_9', 'F2015_MR10',
       'F2015_MR11', 'F2015_MR12', 'F2015_O_TK', 'F2015_O_K', 'F2015_O_1',
       'F2015_O_2', 'F2015_O_3', 'F2015_O_4', 'F2015_O_5', 'F2015_O_6',
       'F2015_O_7', 'F2015_O_8', 'F2015_O_9', 'F2015_O_10', 'F2015_O_11',
       'F2015_O_12', 'F2015_SA_T', 'F2015_SA_K', 'F2015_SA_1',
       'F2015_SA_2', 'F2015_SA_3', 'F2015_SA_4', 'F2015_SA_5',
       'F2015_SA_6', 'F2015_SA_7', 'F2015_SA_8', 'F2015_SA_9',
       'F2015_SA10', 'F2015_SA11', 'F2015_SA12', 'F2015_W_TK',
       'F2015_W_K', 'F2015_W_1', 'F2015_W_2', 'F2015_W_3', 'F2015_W_4',
       'F2015_W_5', 'F2015_W_6', 'F2015_W_7', 'F2015_W_8', 'F2015_W_9',
       'F2015_W_10', 'F2015_W_11', 'F2015_W_12', 'F2016_A_TK',
       'F2016_A_K', 'F2016_A_1', 'F2016_A_2', 'F2016_A_3', 'F2016_A_4',
       'F2016_A_5', 'F2016_A_6', 'F2016_A_7', 'F2016_A_8', 'F2016_A_9',
       'F2016_A_10', 'F2016_A_11', 'F2016_A_12', 'F2016_B_TK',
       'F2016_B_K', 'F2016_B_1', 'F2016_B_2', 'F2016_B_3', 'F2016_B_4',
       'F2016_B_5', 'F2016_B_6', 'F2016_B_7', 'F2016_B_8', 'F2016_B_9',
       'F2016_B_10', 'F2016_B_11', 'F2016_B_12', 'F2016_DS_T',
       'F2016_DS_K', 'F2016_DS_1', 'F2016_DS_2', 'F2016_DS_3',
       'F2016_DS_4', 'F2016_DS_5', 'F2016_DS_6', 'F2016_DS_7',
       'F2016_DS_8', 'F2016_DS_9', 'F2016_DS10', 'F2016_DS11',
       'F2016_DS12', 'F2016_F_TK', 'F2016_F_K', 'F2016_F_1', 'F2016_F_2',
       'F2016_F_3', 'F2016_F_4', 'F2016_F_5', 'F2016_F_6', 'F2016_F_7',
       'F2016_F_8', 'F2016_F_9', 'F2016_F_10', 'F2016_F_11', 'F2016_F_12',
       'F2016_H_TK', 'F2016_H_K', 'F2016_H_1', 'F2016_H_2', 'F2016_H_3',
       'F2016_H_4', 'F2016_H_5', 'F2016_H_6', 'F2016_H_7', 'F2016_H_8',
       'F2016_H_9', 'F2016_H_10', 'F2016_H_11', 'F2016_H_12',
       'F2016_MR_T', 'F2016_MR_K', 'F2016_MR_1', 'F2016_MR_2',
       'F2016_MR_3', 'F2016_MR_4', 'F2016_MR_5', 'F2016_MR_6',
       'F2016_MR_7', 'F2016_MR_8', 'F2016_MR_9', 'F2016_MR10',
       'F2016_MR11', 'F2016_MR12', 'F2016_O_TK', 'F2016_O_K', 'F2016_O_1',
       'F2016_O_2', 'F2016_O_3', 'F2016_O_4', 'F2016_O_5', 'F2016_O_6',
       'F2016_O_7', 'F2016_O_8', 'F2016_O_9', 'F2016_O_10', 'F2016_O_11',
       'F2016_O_12', 'F2016_SA_T', 'F2016_SA_K', 'F2016_SA_1',
       'F2016_SA_2', 'F2016_SA_3', 'F2016_SA_4', 'F2016_SA_5',
       'F2016_SA_6', 'F2016_SA_7', 'F2016_SA_8', 'F2016_SA_9',
       'F2016_SA10', 'F2016_SA11', 'F2016_SA12', 'F2016_W_TK',
       'F2016_W_K', 'F2016_W_1', 'F2016_W_2', 'F2016_W_3', 'F2016_W_4',
       'F2016_W_5', 'F2016_W_6', 'F2016_W_7', 'F2016_W_8', 'F2016_W_9',
       'F2016_W_10', 'F2016_W_11', 'F2016_W_12', 'F2017_A_TK',
       'F2017_A_K', 'F2017_A_1', 'F2017_A_2', 'F2017_A_3', 'F2017_A_4',
       'F2017_A_5', 'F2017_A_6', 'F2017_A_7', 'F2017_A_8', 'F2017_A_9',
       'F2017_A_10', 'F2017_A_11', 'F2017_A_12', 'F2017_B_TK',
       'F2017_B_K', 'F2017_B_1', 'F2017_B_2', 'F2017_B_3', 'F2017_B_4',
       'F2017_B_5', 'F2017_B_6', 'F2017_B_7', 'F2017_B_8', 'F2017_B_9',
       'F2017_B_10', 'F2017_B_11', 'F2017_B_12', 'F2017_DS_T',
       'F2017_DS_K', 'F2017_DS_1', 'F2017_DS_2', 'F2017_DS_3',
       'F2017_DS_4', 'F2017_DS_5', 'F2017_DS_6', 'F2017_DS_7',
       'F2017_DS_8', 'F2017_DS_9', 'F2017_DS10', 'F2017_DS11',
       'F2017_DS12', 'F2017_F_TK', 'F2017_F_K', 'F2017_F_1', 'F2017_F_2',
       'F2017_F_3', 'F2017_F_4', 'F2017_F_5', 'F2017_F_6', 'F2017_F_7',
       'F2017_F_8', 'F2017_F_9', 'F2017_F_10', 'F2017_F_11', 'F2017_F_12',
       'F2017_H_TK', 'F2017_H_K', 'F2017_H_1', 'F2017_H_2', 'F2017_H_3',
       'F2017_H_4', 'F2017_H_5', 'F2017_H_6', 'F2017_H_7', 'F2017_H_8',
       'F2017_H_9', 'F2017_H_10', 'F2017_H_11', 'F2017_H_12',
       'F2017_MR_T', 'F2017_MR_K', 'F2017_MR_1', 'F2017_MR_2',
       'F2017_MR_3', 'F2017_MR_4', 'F2017_MR_5', 'F2017_MR_6',
       'F2017_MR_7', 'F2017_MR_8', 'F2017_MR_9', 'F2017_MR10',
       'F2017_MR11', 'F2017_MR12', 'F2017_O_TK', 'F2017_O_K', 'F2017_O_1',
       'F2017_O_2', 'F2017_O_3', 'F2017_O_4', 'F2017_O_5', 'F2017_O_6',
       'F2017_O_7', 'F2017_O_8', 'F2017_O_9', 'F2017_O_10', 'F2017_O_11',
       'F2017_O_12', 'F2017_SA_T', 'F2017_SA_K', 'F2017_SA_1',
       'F2017_SA_2', 'F2017_SA_3', 'F2017_SA_4', 'F2017_SA_5',
       'F2017_SA_6', 'F2017_SA_7', 'F2017_SA_8', 'F2017_SA_9',
       'F2017_SA10', 'F2017_SA11', 'F2017_SA12', 'F2017_W_TK',
       'F2017_W_K', 'F2017_W_1', 'F2017_W_2', 'F2017_W_3', 'F2017_W_4',
       'F2017_W_5', 'F2017_W_6', 'F2017_W_7', 'F2017_W_8', 'F2017_W_9',
       'F2017_W_10', 'F2017_W_11', 'F2017_W_12', '2013 K-5 Asian',
       '2013 6-8 Asian', '2013 9-12 Asian', '2013 K-5 Black',
       '2013 6-8 Black', '2013 9-12 Black', '2013 K-5 Decl to State',
       '2013 6-8 Decl to State', '2013 9-12 Decl to State',
       '2013 K-5 Filipino', '2013 6-8 Filipino', '2013 9-12 Filipino',
       '2013 K-5 Hispanic', '2013 6-8 Hispanic', '2013 9-12 Hispanic',
       '2013 K-5 Not Available', '2013 6-8 Not Available',
       '2013 9-12 Not Available', '2013 K-5 Other', '2013 6-8 Other',
       '2013 9-12 Other', '2013 K-5 Samoan', '2013 6-8 Samoan',
       '2013 9-12 Samoan', '2013 K-5 White', '2013 6-8 White',
       '2013 9-12 White', '2014 K-5 Asian', '2014 6-8 Asian',
       '2014 9-12 Asian', '2014 K-5 Black', '2014 6-8 Black',
       '2014 9-12 Black', '2014 K-5 Decl to State',
       '2014 6-8 Decl to State', '2014 9-12 Decl to State',
       '2014 K-5 Filipino', '2014 6-8 Filipino', '2014 9-12 Filipino',
       '2014 K-5 Hispanic', '2014 6-8 Hispanic', '2014 9-12 Hispanic',
       '2014 K-5 Not Available', '2014 6-8 Not Available',
       '2014 9-12 Not Available', '2014 K-5 Other', '2014 6-8 Other',
       '2014 9-12 Other', '2014 K-5 Samoan', '2014 6-8 Samoan',
       '2014 9-12 Samoan', '2014 K-5 White', '2014 6-8 White',
       '2014 9-12 White', '2015 K-5 Asian', '2015 6-8 Asian',
       '2015 9-12 Asian', '2015 K-5 Black', '2015 6-8 Black',
       '2015 9-12 Black', '2015 K-5 Decl to State',
       '2015 6-8 Decl to State', '2015 9-12 Decl to State',
       '2015 K-5 Filipino', '2015 6-8 Filipino', '2015 9-12 Filipino',
       '2015 K-5 Hispanic', '2015 6-8 Hispanic', '2015 9-12 Hispanic',
       '2015 K-5 Multi-Race', '2015 6-8 Multi-Race',
       '2015 9-12 Multi-Race', '2015 K-5 Other', '2015 6-8 Other',
       '2015 9-12 Other', '2015 K-5 Samoan', '2015 6-8 Samoan',
       '2015 9-12 Samoan', '2015 K-5 White', '2015 6-8 White',
       '2015 9-12 White', '2016 K-5 Asian', '2016 6-8 Asian',
       '2016 9-12 Asian', '2016 K-5 Black', '2016 6-8 Black',
       '2016 9-12 Black', '2016 K-5 Decl to State',
       '2016 6-8 Decl to State', '2016 9-12 Decl to State',
       '2016 K-5 Filipino', '2016 6-8 Filipino', '2016 9-12 Filipino',
       '2016 K-5 Hispanic', '2016 6-8 Hispanic', '2016 9-12 Hispanic',
       '2016 K-5 Multi-Race', '2016 6-8 Multi-Race',
       '2016 9-12 Multi-Race', '2016 K-5 Other', '2016 6-8 Other',
       '2016 9-12 Other', '2016 K-5 Samoan', '2016 6-8 Samoan',
       '2016 9-12 Samoan', '2016 K-5 White', '2016 6-8 White',
       '2016 9-12 White', '2017 K-5 Asian', '2017 6-8 Asian',
       '2017 9-12 Asian', '2017 K-5 Black', '2017 6-8 Black',
       '2017 9-12 Black', '2017 K-5 Decl to State',
       '2017 6-8 Decl to State', '2017 9-12 Decl to State',
       '2017 K-5 Filipino', '2017 6-8 Filipino', '2017 9-12 Filipino',
       '2017 K-5 Hispanic', '2017 6-8 Hispanic', '2017 9-12 Hispanic',
       '2017 K-5 Multi-Race', '2017 6-8 Multi-Race',
       '2017 9-12 Multi-Race', '2017 K-5 Other', '2017 6-8 Other',
       '2017 9-12 Other', '2017 K-5 Samoan', '2017 6-8 Samoan',
       '2017 9-12 Samoan', '2017 K-5 White', '2017 6-8 White',
       '2017 9-12 White', 'Free Reduced Lunch'], dtype=object)

In [67]:
field_descriptions_df[field_descriptions_df['Field Name'].str.contains("Place")]

  Field Name Field Description                  Data Source Commenta/Caveats
7      Place             Place  2010 Census place (city) ID              NaN

In [25]:
field_descriptions_F20 = field_descriptions_df[field_descriptions_df['Field Name'].str.contains('F20')]

In [26]:
field_descriptions_F20

,Field Name,Field Description,Data Source,Commenta/Caveats
109,F2013_A_TK,Number of Fall 2013 TK residents Asian,LGDR computed using student address database,NaN
110,F2013_A_K,Number of Fall 2013 K residents Asian,LGDR computed using student address database,NaN
111,F2013_A_1,Number of Fall 2013 grade 1 residents Asian,LGDR computed using student address database,NaN
112,F2013_A_2,Number of Fall 2013 grade 2 residents Asian,LGDR computed using student address database,NaN
113,F2013_A_3,Number of Fall 2013 grade 3 residents Asian,LGDR computed using student address database,NaN
...,...,...,...,...
734,F2017_W_8,Number of Fall 2017 grade 8 residents White,LGDR computed using student address database,NaN
735,F2017_W_9,Number of Fall 2017 grade 9 residents White,LGDR computed using student address database,NaN
736,F2017_W_10,Number of Fall 2017 grade 10 residents White,LGDR computed using student address database,NaN
737,F2017_W_11,Number of Fall 2017 grade 11 residents White,LGDR computed using student address database,NaN
738,F2017_W_12,Number of Fall 2017 grade 12 residents White,LGDR computed using student address database,NaN

In [16]:
field_descriptions_df["Commenta/Caveats"].values

array([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, 'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'these are block-level counts (not estimates)',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       'These are Census tract-based estimates, and often have large error margins.  ',
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan], dtype=object)

In [31]:
field_descriptions_caveats = field_descriptions_df.dropna(axis=0, how='any')

In [32]:
field_descriptions_caveats

,Field Name,Field Description,Data Source,Commenta/Caveats
16,2010 total population count,Census 2010 pop count; Total,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
17,2010 Hispanic,Census 2010 pop count; Hispanic,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
18,2010 non-Hisp African American,Census 2010 pop count; non-Hispanic African A...,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
19,2010 non-Hisp Amer Indian Alaska Native,Census 2010 pop count; non-Hispanic Amer Indi...,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
20,2010 non-Hisp Asian,Census 2010 pop count; non-Hispanic Asian,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
21,2010 non-Hisp Pacific Islander,Census 2010 pop count; non-Hispanic Pacific I...,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
22,2010 non-Hisp White,Census 2010 pop count; non-Hispanic White,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
23,2010 non-Hisp Other,Census 2010 pop count; non-Hispanic Other,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
24,2010 non-Hispanic Mixed Race,Census 2010 pop count; non-Hispanic Mixed Race,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
25,2010 total pop aged 18+,Census 2010 aged 18+; Total,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
26,2010 pop 18+ Hispanic,Census 2010 aged 18+; Hispanic,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
27,2010 pop 18+ non-Hisp African American,Census 2010 aged 18+; non-Hispanic African Am...,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
28,2010 pop 18+ non-Hisp Amer Ind AK native,Census 2010 aged 18+; non-Hispanic Amer India...,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
29,2010 pop 18+ non-Hisp Asian,Census 2010 aged 18+; non-Hispanic Asian,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
30,2010 pop 18+ non-Hisp Pacific Islander,Census 2010 aged 18+; non-Hispanic Pacific Is...,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
31,2010 pop 18+ non-Hisp White,Census 2010 aged 18+; non-Hispanic White,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
32,2010 pop 18+ non-Hisp Other,Census 2010 aged 18+; non-Hispanic Other,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
33,2010 pop 18+ non-Hisp Mixed Race,Census 2010 aged 18+; non-Hispanic Mixed Race,from Census 2010 PL 94-171 database,these are block-level counts (not estimates)
34,2010 pop less than 18 years old,Census 2010 under 18; Total,LGDR computed from previous fields,these are block-level counts (not estimates)
35,2010 pop <18 Hispanic,Census 2010 under 18; Hispanic,LGDR computed from previous fields,these are block-level counts (not estimates)
36,2010 pop <18 non-Hisp African American,Census 2010 under 18; non-Hispanic African Am...,LGDR computed from previous fields,these are block-level counts (not estimates)
37,2010 pop <18 non-Hisp Amer Ind AK native,Census 2010 under 18; non-Hispanic Amer India...,LGDR computed from previous fields,these are block-level counts (not estimates)
38,2010 pop <18 non-Hisp Asian,Census 2010 under 18; non-Hispanic Asian,LGDR computed from previous fields,these are block-level counts (not estimates)
39,2010 pop <18 non-Hisp Pacific Islander,Census 2010 under 18; non-Hispanic Pacific Is...,LGDR computed from previous fields,these are block-level counts (not estimates)
40,2010 pop <18 non-Hisp White,Census 2010 under 18; non-Hispanic White,LGDR computed from previous fields,these are block-level counts (not estimates)
41,2010 pop <18 non-Hisp Other,Census 2010 under 18; non-Hispanic Other,LGDR computed from previous fields,these are block-level counts (not estimates)
42,2010 pop <18 non-Hisp Mixed Race,Census 2010 under 18; non-Hispanic Mixed Race,LGDR computed from previous fields,these are block-level counts (not estimates)
43,ACS 2013-17 est median HH income,ACS 2013-17 est median household income $ last...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
44,ACS 2013-17 est median family income,ACS 2013-17 est median family income $ last 12...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
45,ACS 2013-17 % aged 25+ <HS diploma,ACS 2013-17 est % share of pop aged 25+ with l...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
46,ACS 2013-17 % aged 25+ HS diploma,ACS 2013-17 est % share of pop aged 25+ with h...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
47,ACS 2013-17 % aged 25+ some coll no BA,ACS 2013-17 est % share of pop aged 25+ with s...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
48,ACS 2013-17 % aged 25+ with Bachelors,ACS 2013-17 est % share of pop aged 25+ with b...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
49,ACS 2013-17 % aged 25+ grad or prof degr,ACS 2013-17 est % share of pop aged 25+ with g...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
50,ACS 2013-17 est% HH below poverty lvl,ACS 2013-17 est % of households below poverty ...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
51,ACS 2013-17 est% HH with children <17,ACS 2013-17 est % of households with children ...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
52,ACS 2013-17 est% aged 5-14 public sch,ACS 2013-17 est % of children aged 5-14 enroll...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
53,ACS 2013-17 est% aged 5-14 pvt sch,ACS 2013-17 est % of children aged 5-14 enroll...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
54,ACS 2013-17 est% aged 5-14 not in sch,ACS 2013-17 est % of children aged 5-14 not en...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
55,ACS 2013-17 est% single parent household,ACS 2013-17 est % of housholds with children <...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
56,ACS 2013-17 est% of pop foreign born,ACS 2013-17 est % of total population that was...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
57,ACS 2013-17 est% of foreign born not czn,ACS 2013-17 est % of foreign born population t...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
58,ACS 2013-17 est% hsng units owner occ,ACS 2013-17 est % of housing units that were o...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."
59,"ACS 2013-17 est% aged5+ Engl ""not well""",ACS 2013-17 est % of pop aged 5+ speaking Engl...,American Community Survey 5-year estimates 201...,"These are Census tract-based estimates, and of..."

## Block Database

In [22]:
block_database_df

,ID,AREA,DATA,Block,Block Type,BlockGroup,Tract,County,Place,UnifSchool,...,2017 9-12 Multi-Race,2017 K-5 Other,2017 6-8 Other,2017 9-12 Other,2017 K-5 Samoan,2017 6-8 Samoan,2017 9-12 Samoan,2017 K-5 White,2017 6-8 White,2017 9-12 White
0,,0.009403,17481,60750604001012,land - zero population,60750604001,6075060400,6075,667000,634410,...,--,--,--,--,--,--,--,--,--,--
1,,0.109778,17501,60750604001011,land - populated,60750604001,6075060400,6075,667000,634410,...,0,3,5,1,0,0,0,6,1,3
2,440250,0.010440,452388,60750179021024,land - zero population,60750179021,6075017902,6075,667000,634410,...,--,--,--,--,--,--,--,--,--,--
3,440233,0.008829,452370,60750179021028,land - zero population,60750179021,6075017902,6075,667000,634410,...,--,--,--,--,--,--,--,--,--,--
4,440215,0.004507,452353,60750179021013,land - zero population,60750179021,6075017902,6075,667000,634410,...,--,--,--,--,--,--,--,--,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7318,15992,0.214440,17604,60750604001007,land - zero population,60750604001,6075060400,6075,667000,634410,...,--,--,--,--,--,--,--,--,--,--
7319,15976,0.002006,21139,60750604001015,land - zero population,60750604001,6075060400,6075,667000,634410,...,--,--,--,--,--,--,--,--,--,--
7320,15952,0.026889,32573,60750604001018,land - zero population,60750604001,6075060400,6075,667000,634410,...,--,--,--,--,--,--,--,--,--,--
7321,15932,0.102757,17534,60750604001032,land - zero population,60750604001,6075060400,6075,667000,634410,...,--,--,--,--,--,--,--,--,--,--
7322,15916,0.041951,17517,60750604001033,land - zero population,60750604001,6075060400,6075,667000,634410,...,--,--,--,--,--,--,--,--,--,--

In [20]:
len(list(block_database_df.columns))

875

In [21]:
len(block_database_df)

7323

In [42]:
block_populated_df = block_database_df[~block_database_df['Block Type'].str.contains('zero')]

In [43]:
set(block_populated_df["Block Type"].values)

{'land - populated'}

In [44]:
len(block_populated_df)

5137

In [63]:
block_populated_df.columns[block_populated_df.isna().all()].tolist()

['ZIP5', 'F2014_NA_T', 'F2014_NA_K', 'F2014_NA_9']

In [64]:
temp = []

for x in block_populated_df.columns[block_populated_df.isna().all()].tolist():
    temp.append(field_descriptions_df[field_descriptions_df['Field Name'].str.contains(x)])

In [65]:
temp[0]

  Field Name Field Description       Data Source Commenta/Caveats
9       ZIP5              ZIP5  5-digit ZIP Code              NaN

In [40]:
block_populated_df = block_populated_df.dropna(axis=0, how='all')
block_populated_df = block_populated_df.dropna(axis=1, how='all')

In [41]:
block_populated_df

,ID,AREA,DATA,Block,Block Type,BlockGroup,Tract,County,Place,UnifSchool,...,2017 9-12 Multi-Race,2017 K-5 Other,2017 6-8 Other,2017 9-12 Other,2017 K-5 Samoan,2017 6-8 Samoan,2017 9-12 Samoan,2017 K-5 White,2017 6-8 White,2017 9-12 White
1,,0.109778,17501,60750604001011,land - populated,60750604001,6075060400,6075,667000,634410,...,0,3,5,1,0,0,0,6,1,3
9,440126,0.003191,452264,60750179021025,land - populated,60750179021,6075017902,6075,667000,634410,...,2,0,0,0,0,0,0,0,0,1
19,439904,0.321337,451938,60750179021001,land - populated,60750179021,6075017902,6075,667000,634410,...,0,2,0,1,0,0,0,3,0,1
23,439833,0.013327,452029,60750179021045,land - populated,60750179021,6075017902,6075,667000,634410,...,--,--,--,--,--,--,--,--,--,--
24,439816,0.004227,452011,60750179021012,land - populated,60750179021,6075017902,6075,667000,634410,...,--,--,--,--,--,--,--,--,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7309,16154,0.007460,17749,60750354003007,land - populated,60750354003,6075035400,6075,667000,634410,...,0,0,0,0,0,0,0,1,1,0
7310,16137,0.003477,17732,60750354005004,land - populated,60750354005,6075035400,6075,667000,634410,...,0,0,0,0,0,0,0,1,0,0
7311,16119,0.003259,17714,60750354005005,land - populated,60750354005,6075035400,6075,667000,634410,...,0,0,0,0,0,0,0,1,0,0
7314,16068,0.002439,17663,60750354005007,land - populated,60750354005,6075035400,6075,667000,634410,...,--,--,--,--,--,--,--,--,--,--
7315,16050,0.001844,17645,60750354005006,land - populated,60750354005,6075035400,6075,667000,634410,...,1,0,0,0,0,0,0,0,0,0

## Census Blocks