In [1]:
import pandas as pd
import numpy as np

from src.d01_data.etl import ETL

etl = ETL()

In [36]:
"out_SFUSD20191220_1_1_demographics2014plus_resolved_ethnic.csv"
"out_SFUSD20191220_1_1_sfusd_applicant_demographics.csv"
"Data/test_frl_data.csv"
file_name_geo = "Data/Student Location Data/out_SFUSD20191220_1_1_cbeds2018.dta"
file_name_dem = "Data/Student and family data/out_SFUSD20191220_1_1_demographics2014plus.dta"
"Data/Student and family data/out_SFUSD20191220_1_1_grades.dta"
"Data/Student and family data/out_SFUSD20191220_1_1_sbac.dta"
file_name = "Data/Student and family data/out_SFUSD20191220_1_1_student_assignment.dta"

In [34]:
df = etl.read_data(file_name)
df.head()

,studentno,choice_id,schoolyear,choiceactive,choiceactivedate,choicetype,choiceno,schno,schname,grade_applying,...,lowell_status,lowell_status_date,entrydate,currentlyhere,lowell_req,runeligible,changeddatetime,createddatetime,lasttouchedby,lastsyncstatus
0,S010040238,1021350,2012-2013,1,NaT,2,1,710,KING JR MS,06,...,,NaT,1960-01-01 00:00:18.938,0,0,1,NaT,NaT,,
1,S010040238,1021351,2012-2013,1,NaT,2,2,431,APTOS MS,06,...,,NaT,1960-01-01 00:00:18.938,0,0,1,NaT,NaT,,
2,S010040238,1021352,2012-2013,1,NaT,2,3,607,HOOVER MS,06,...,,NaT,1960-01-01 00:00:18.938,0,0,1,NaT,NaT,,
3,S010040238,1021353,2012-2013,1,NaT,2,4,404,GIANNINI MS,06,...,,NaT,1960-01-01 00:00:18.938,0,0,1,NaT,NaT,,
4,S010060108,1021354,2012-2013,1,NaT,2,1,559,GALILEO HS,09,...,,NaT,1960-01-01 00:00:18.938,0,0,1,NaT,NaT,,

In [37]:
df_geo = etl.read_data(file_name_geo)
print(len(df_geo))
df_dem = etl.read_data(file_name_dem)
print(len(df_dem))

55760
666660

In [40]:
df_geo.iloc[0]

studentno            S010045773
longitude              -122.402
latitude                37.7233
schno                       439
schname               Balboa HS
schtype                      HS
schgrp                      8HS
k_5wtk
charter
cbedschnum                  439
cbschtype                    HS
n_total                       1
acty                          A
grade                        11
streetno                   3054
streetpfx
street                San Bruno
streetsfx                   Ave
aptno
zipcode                   94134
cbeds_city        San Francisco
gc_addr2      3054 SAN BRUNO AV
gc_stnum                   3054
gc_stname             SAN BRUNO
gc_sttype                    AV
gc_aptno
gc_city           SAN FRANCISCO
gc_zip                    94134
Name: 0, dtype: object

In [39]:
studentno = 'S010045773'
df_dem.loc[df_dem['studentno'] == studentno].T

,88031,88032,88033,88034,88035,88036,88037,88038,88039,88040,88041
studentno,S010045773,S010045773,S010045773,S010045773,S010045773,S010045773,S010045773,S010045773,S010045773,S010045773,S010045773
schno,JAMES LICK MIDDLE,JAMES LICK MIDDLE,JAMES LICK MIDDLE,JAMES LICK MIDDLE,JAMES LICK MIDDLE,GALILEO HIGH,BALBOA HIGH,BALBOA HIGH,BALBOA HIGH,BALBOA HIGH,BALBOA HIGH
schoolyear,2013-2014,2014-2015,2014-2015,2015-2016,2015-2016,2016-2017,2016-2017,2017-2018,2017-2018,2018-2019,2018-2019
year,SY 2013-2014,SY 2014-2015,SY 2014-2015,SY 2015-2016,SY 2015-2016,SY 2016-2017,SY 2016-2017,SY 2017-2018,SY 2017-2018,SY 2018-2019,SY 2018-2019
semester,Spring,Fall,Spring,Fall,Spring,Fall,Spring,Fall,Spring,Fall,Spring
zipcode,94134,94134,94134,94134,94134,94134,94134,94134,94134,94134,94134
grade,06,07,07,08,08,09,09,10,10,11,11
sex,F,F,F,F,F,F,F,F,F,F,F
racex,.,12,12,12,12,12,12,12,12,12,12
ethnic,SS,SS,SS,SS,SS,SS,SS,SS,SS,SS,SS
ethnicity_desc,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname,SS-Spanish Surname
stethnic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic,Hispanic
sped,Y,Y,Y,Y,Y,,,,,,
speced,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes
disability,Speech or Language Impairment (SLI),Speech or Language Impairment (SLI),Speech or Language Impairment (SLI),Speech or Language Impairment (SLI),Speech or Language Impairment (SLI),NaN,NaN,NaN,NaN,NaN,NaN
homelang,SP,SP,SP,SP,SP,SP,SP,SP,SP,SP,SP
homelang_desc,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish
domlang,SP,SP,SP,SP,SP,SP,SP,SP,SP,SP,SP
domlang_desc,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish,SP-Spanish
englprof,R,R,R,R,R,R,R,R,R,R,R
englprof_desc,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated,R-Redesignated
lepdate,11/1/2007,11/1/2007,11/1/2007,11/1/2007,11/1/2007,11/1/2007,11/1/2007,11/1/2007,11/1/2007,2007-11-01T00:00:00Z,2007-11-01T00:00:00Z
lepdate_fmt,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,2007-11-01 00:00:00,NaT,NaT
recdate,5/2/2013,5/2/2013,5/2/2013,5/2/2013,5/2/2013,5/2/2013,5/2/2013,5/2/2013,5/2/2013,2013-05-02T00:00:00Z,2013-05-02T00:00:00Z
recdate_fmt,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,2013-05-02 00:00:00,NaT,NaT
entrydate,8/19/2013,8/18/2014,8/18/2014,8/17/2015,8/17/2015,8/15/2016,1/3/2017,8/21/2017,8/21/2017,2018-08-20T00:00:00Z,2018-08-20T00:00:00Z
entrydate_fmt,2013-08-19 00:00:00,2014-08-18 00:00:00,2014-08-18 00:00:00,2015-08-17 00:00:00,2015-08-17 00:00:00,2016-08-15 00:00:00,2017-01-03 00:00:00,2017-08-21 00:00:00,2017-08-21 00:00:00,NaT,NaT
leavedate,,,,,,,,,,,
leavedate_fmt,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
stleavecd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mothereducationlevel,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate
fathereducationlevel,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate,Not High School Graduate